<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Log In Page</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <script type="text/javascript" src="/login_ajax.js"></script>
</head>

<body>
    <div class="logo">
        <img src="/logo.jpg" alt="logo" />
    </div>
    <div class="banner">
        Please login to our site
    </div>
    <div class="login-container">
        <h3><div id="warning"></div></h3>
        <center>
            <table cellspacing="20">
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input class="textfield" type="text" id="username" placeholder="Type Your Username Here!!!">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input class="textfield" type="password" id="password" placeholder="Type Your Password Here!!!">
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- For Indention -->
                    </td>
                    <td>
                        <input class="btn btn-primary" type="button" id="loginButton" value="Log In">
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you new?
                    </td>
                    <td>
                        <a href="/registration">
                Sign up here
              </a>
                    </td>
                </tr>
            </table>
        </center>

    </div>
</body>

</html>
